{% extends "layout.html" %}

{% block content %}
<!-- INPUT  -->


<div class="ui input">
    <input id="sensorId" type="text" placeholder="Sensor ID">
</div>

<div class="ui input">
  <input id = "trainTime" type="text" placeholder="trainTime (days)">
</div>

<div class="ui input">
    <input id = "forecastTime" type="text" placeholder="Forecasting time (minute)">
</div>

<button class="ui button primary" onclick="plotChart(); updateTable(); " >Forecast</button>

<table id = "valueTable" class="ui cell table">
    <thead>
      <tr>
        <th>Sensor Id</th>
        <th>Status</th>
        <th>Last Value</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="active">EC-161</td>
        <td>OK</td>
        <td>{{ params_dict['EC-161'] }}</td>
        <td>mS/cm</td>
      </tr>
      <tr>
        <td class="active">PH-181</td>
        <td>OK</td>
        <td>{{ params_dict['PH-181'] }}</td>
        <td>pH</td>
      </tr>
      <tr>
        <td class="active">Temp-81</td>
        <td>OK</td>
        <td>{{ params_dict['Temp-81'] }}</td>
        <td>Celcius</td>
      </tr>
      <tr>
        <td class="active">Light-121</td>
        <td>OK</td>
        <td>{{ params_dict['Light-121'] }}</td>
        <td>Lux</td>
      </tr>
      <tr>
        <td class="active">Co2-121</td>
        <td>OK</td>
        <td>{{ params_dict['Co2-121'] }}</td>
        <td>ppm</td>
      </tr>
      <tr>
        <td class="active">Temp-121</td>
        <td>OK</td>
        <td>{{ params_dict['Temp-121'] }}</td>
        <td>Celcius</td>
      </tr>
      <tr>
        <td class="active">Hum-121</td>
        <td>OK</td>
        <td>{{ params_dict['Hum-121'] }}</td>
        <td>%RH</td>
      </tr>
  </tbody>
</table>
  
  
<style>
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }
</style>

<div id="myProgress">
  <div id="myBar"></div>
</div>


 

<!-- Get the data and draw chart using ChartJs -->

<div id="myChart"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
    // build chart
    function BuildChart(labels = [1, 2, 3], values = [3, 4, 5], labels_forecast = [4,5], values_forecast = [8,9], chartTitle) {
        var sensor_data = {
                x: labels,
                y: values,
                type: 'line + scatter',
                mode: 'lines + markers',
                name: 'Sensor Data'
        };

        var forecast = {
                x: labels_forecast,
                y: values_forecast,
                type: 'line + scatter',
                mode: 'lines + markers',
                name: 'Forecast'
        };

        data = [sensor_data, forecast];

        move();

        Plotly.newPlot("myChart", data);


    }

    // getting the data from api
    function Post(Url){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("POST", Url, false);
        Httpreq.send(null);
        return Httpreq.responseText;          
    }

    // getting the data from api
    function Get(Url){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET", Url, false);
        Httpreq.send(null);
        return Httpreq.responseText;          
    }

    // plot Chart

    // Selecting the input element and get its value 
    function plotChart(){
        // Get Input values from user
        var sensorId = document.getElementById("sensorId").value;
        var forecastTime =  document.getElementById("forecastTime").value;
        var trainTime = document.getElementById("trainTime").value;

        if (sensorId.length == 0) {sensorId = 'Temp-81'};
        if (forecastTime.length == 0) {forecastTime = 180};
        if (trainTime.length == 0) {trainTime = 3};

        url = '/forecast?sensorId=' + sensorId + '&trainTime=' + trainTime + '&forecastTime=' + forecastTime ;


        var data = JSON.parse(Get(url));
        console.log(data);

        labels = Object.values(data.data_dict.ds);
        console.log(labels);

        values =Object.values(data.data_dict.y);
        console.log(values);

        labels_forecast = Object.keys(data.forecastOut);
        console.log(labels_forecast);

        values_forecast =Object.values(data.forecastOut);
        console.log(values_forecast);

        BuildChart(labels, values, labels_forecast, values_forecast, 'Forecasting');

    }

    function updateTable(){
        // http request /home
        url = '/updateTable';

        var data = JSON.parse(Get(url));
        console.log(data);

        // Alert & Update table
        var table = document.getElementById("valueTable");
          
        var row = [];
        var parameters = ['EC-161', 'PH-181', 'Temp-81', 'Light-121', 'Co2-121', 'Temp-121', 'Hum-121'];
        var alertDict = {'EC-161': 500, 'PH-181': 50, 'Temp-81':20, 'Light-121':500, 'Co2-121':1000, 'Temp-121':20, 'Hum-121':500};
        var keysData = Object.keys(data);
        var valuesData = Object.values(data);

        console.log(keysData);
        console.log(valuesData);

        let i = 1;
        Object.entries(data).forEach(([key, value]) => {
          // console.log(key);
          // console.log(value);
          if (value > alertDict[key]) {
            row = document.getElementById("valueTable").rows[i].cells;
            console.log(key);
            row[0].innerHTML = key;
            row[1].innerHTML = 'WARNING';
            row[2].innerHTML = value;
            i++;
          }
          else {
            row = document.getElementById("valueTable").rows[i].cells;
            console.log(key);
            row[0].innerHTML = key;
            row[1].innerHTML = 'OK';
            row[2].innerHTML = value;
            i++;
          }   
        });
          

    };


    // Auto-loading chart
    // var waitTime = 5;  // 10 seconds
    // var fetchInterval = window.setInterval(plotChart, waitTime*1000);

    // Auto-updating table
    var waitTime = 5;  // 10 seconds
    var fetchInterval = window.setInterval(updateTable, waitTime*1000);

    var i = 0;
    function move() {
      if (i == 0) {
        i = 1;
        var elem = document.getElementById("myBar");
        var width = 10;
        var id = setInterval(frame, 10);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
            i = 0;
          } else {
            width++;
            elem.style.width = width + "%";
            elem.innerHTML = width  + "%";
          }
        }
      }
    }

</script>   
{% endblock %}